:root {
  --main-red: #f40009;
  --main-red-hover: #ce0007;
  --main-black-hover: #5c5c5c;
  --main-black: #1e1e1e;
  --white: #ffffff;
}

* {
  margin: 0;
}

.els {
  padding: 0 20%;
  min-height: 80vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* icons  */
.fas {
  padding: 6px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-whatsapp {
  background: #25d366;
  color: white;
}
.fa-telegram {
  background: #0e8dcc;
  color: white;
}
.fa-instagram {
  color: white;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}
.fa-share-alt {
  border: 1px solid var(--main-black-hover);
  color: var(--main-black);
}

/* icons  end */

/* scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ececec;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-black-hover);
}

/* scrollbar end */
a {
  text-decoration: none;
}

/* navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 70px 10px;
  align-items: center;
}

.navbar a {
  padding: 9px 12px;
  margin: 0 6px;
  border-radius: 16px;
  color: var(--white);
  background: var(--main-black);
}
.navbar a:hover {
  border-radius: 16px;
  color: var(--white);
  background: var(--main-black-hover);
}

#active-page {
  background: var(--main-red);
}
#active-page:hover {
  background: var(--main-red-hover);
}

.usernav {
  background-color: var(--main-red);
  color: var(--white);
  padding: 9px 12px;
  border-radius: 2px;
  cursor: pointer;
}

.usernav a {
  background-color: var(--main-red);
  color: var(--white);
  padding: 0px 12px;
}
.usernav a:hover {
  color: var(--main-black-hover);
}

.m-links {
  display: none;
}

/* footer */
footer {
  background-color: var(--main-black);
  padding: 12px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cocalogo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-color: var(--main-red);
  color: var(--white);
  font-family: "Lobster", cursive;
  font-style: italic;
  position: relative;
}
.cocalogo a {
  text-align: center;
  width: 100%;
  display: block;
  padding: 21px 0;
  color: var(--white);
  font-size: 26px;
}

.footer-email {
  color: var(--white);
}
.footer-email:hover {
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--main-red),
      0 0 40px var(--main-red), 0 0 50px var(--main-red);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--main-red),
      0 0 40px var(--main-red), 0 0 50px var(--main-red);
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--main-red),
      0 0 40px var(--main-red), 0 0 50px var(--main-red);
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px var(--main-red),
      0 0 40px var(--main-red), 0 0 50px var(--main-red);
  }
}

.footer-address {
  color: var(--white);
}

/* footer end */

/* home page */

.home {
  text-align: center;
  padding: 40px 0;
}
.home img {
  width: 100%;
  max-width: 730px;
}
.home p {
  padding: 25px 50px;
}

/* contact page  */
.contact-form {
  border: solid var(--main-black-hover) 2px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 30px 5%;
  padding-bottom: 50px;
  align-items: center;
  border-radius: 10px;
  text-align: start;
}
.contact-form input,
.contact-form textarea {
  resize: none;
  border: none;
  background: #e4e4e4;
  padding: 8px 8px;
  margin: 2px 0;
  border-bottom: 4px solid #ffffff00;
  outline: none;
  color: #575757;
  font-size: 18px;
  border-radius: 8px;
}
.contact-form input:focus,
.contact-form textarea:focus {
  border-bottom: 4px solid var(--main-red);
}
.contact-form input:hover,
.contact-form textarea:hover {
  border-bottom: 4px solid var(--main-red);
}
.contact-form h1 {
  color: var(--main);
  padding: 40px 0;
}
.form-sec {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-sec label {
  padding: 12px 0;
}

.contact-form button {
  background-color: var(--main-red);
  color: var(--white);
  border: none;
  margin: 20px 0;
  font-size: 20px;
  padding: 8px 26px;
  cursor: pointer;
}
.contact-form button:hover {
  background-color: var(--main-red-hover);
}

/* blog */
.blog-posts {
  position: relative;
  width: 90%;
  padding: 20px 5%;
}

.blog-card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: 32px 5%;
  padding-top: 12px;
  left: 0px;
  -webkit-box-shadow: 19px 30px 81px -55px #444444;
  -moz-box-shadow: 19px 30px 81px -55px #444444;
  box-shadow: 19px 30px 81px -55px #44444477;
}

.bpt {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.social-blog {
  position: relative;
  display: block;
  float: left;
  left: 0;
  height: 41px;
  text-align: end;
  padding: 0px 19px;
  border-bottom: 1px solid #b1b1b1;
}

.bpp {
  display: flex;
}
.bppr {
  padding: 14px 26px;
}
.bpp img {
  display: block;
  width: 200px;
  object-fit: cover;
  object-position: center;
  margin: 5px 4px;
  position: relative;
  float: left;
  -webkit-box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
  -moz-box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
  box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
}

.bpb {
  -webkit-box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  -moz-box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: var(--light-gray);
}

.bpbi {
  display: flex;
  width: 40%;
  padding: 2px 7px;
  justify-content: space-around;
  align-self: center;
}
.btn-moreb {
  color: #ffffff;
  display: inline-block;
  background-color: var(--main-red);
  padding: 3px 10px;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid var(--main);
}

.btn-moreb:hover {
  color: var(--white);
  background-color: var(--main-black);
}
/* blog post page */

.blog-page {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;

  margin: 32px 0;
  padding-top: 12px;
  left: 0px;
  -webkit-box-shadow: 19px 30px 81px -55px rgba(107, 107, 107, 0.3);
  -moz-box-shadow: 19px 30px 81px -55px rgba(107, 107, 107, 0.3);
  box-shadow: 19px 30px 81px -55px rgba(107, 107, 107, 0.3);
}

.bpp-blog-page {
  display: flex;
  flex-direction: column-reverse;
}
.bppr-blog-page {
  padding: 19px 32px;
}
.bpp-blog-page img {
  display: block;
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  align-self: center;
  margin: 5px 4px;
  position: relative;
  float: left;
  -webkit-box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
  -moz-box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
  box-shadow: 7px 7px 72px -16px rgba(107, 107, 107, 0.2);
  background-color: #fff;
}

.bpb-blog-page {
  -webkit-box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  -moz-box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  box-shadow: -4px 10px 60px -11px rgba(196, 196, 196, 1);
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 6px 20px;
  background-color: #e6e6e6;
}

/* On smaller screens */
@media only screen and (max-width: 1700px) {
  .els {
    padding: 0 15%;
  }
}

@media screen and (max-width: 1080px) {
  .els {
    padding: 0 8%;
  }
}

@media screen and (max-width: 920px) {
  nav {
    flex-direction: column;
  }

  .usernav {
    margin: 40px 0;
  }

  nav {
    padding: 50px 10px;
  }

  footer {
    flex-direction: column;
    padding: 20px 0;
  }
  footer div {
    margin: 16px 0;
  }
  .bpp {
    flex-direction: column-reverse;
  }

  .bppr {
    padding: 12px 16px;
  }
  .bpp img {
    align-self: center;
    width: 70%;
    max-height: 140px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
  }
}

@media only screen and (max-width: 780px) {
  .blog {
    flex-direction: column-reverse;
  }

  .social-blog {
    text-align: center;
  }
  .aside-sec {
    width: 80%;
  }
  .asps a {
    width: 100%;
  }
  .blog aside {
    width: 100%;
  }
  .bpp img {
    width: 200px;
  }

  .bpb {
    flex-direction: column-reverse;
    text-align: center;
  }
  .bpbi {
    justify-content: space-around;
    width: 100%;
    height: 22px;
  }
}
@media only screen and (max-width: 460px) {
  .m-links {
    font-size: 13px;
  }
  .m-links-en {
    font-size: 13px;
  }
  .els {
    width: 94%;
    padding: 0 3%;
  }
  .text {
    font-size: 11px;
  }
  .card {
    width: 240px;
    height: 225px;
    margin: 28px 14px;
  }
  .card-p {
    width: 280px;
    height: 340px;
    border: var(--main) 1px solid;
  }
  .card img {
    width: 240px;
  }
  .services {
    padding: 10px;
  }
  .serv li {
    font-size: 17px;
  }
  .serv-item li {
    width: 130px;
  }
  .btn-more {
    padding: 3px 10px;
    height: 18px;
    font-size: 12px;
  }
  .m-logo {
    font-size: 44px;
  }
  .btn-morep-en,
  .btn-morep {
    top: 38px;
  }

  .blog-page {
    width: 90%;
  }
}
